body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.main-content {
    margin-left: 240px;
    padding: 30px;
    width: calc(100% - 240px);
}

h1 {
    text-align: center;
}

div {
    font-weight: 400;
    font-size: 22px;
    color: black;
    margin-top: 10px;
}

span {
    font-weight: 600;
    color: darkblue;
}

#loading {
    font-size: 1.2em;
    font-weight: bold;
    color: #555;
}